.header {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header:hover {
  cursor: pointer;
}

.appear {
  animation: appear;
  animation-timing-function: ease-in-out;
  animation-duration: 3.5s;
}

.hidden {
  display: none !important;
}

@keyframes appear {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 0px white;
  }
  70% {
    text-shadow: 0px 0px 20px white;
  }
  90% {
    text-shadow: 0px 0px 60px;
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 50px white;
  }
}

/* @keyframes appear {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  22% {
    opacity: .8;
  }
  40% {
    opacity: .8;
  }
  41% {
    opacity: 0;
  }
  45% {
    opacity: .8;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: .8;
  }
  81% {
    opacity: 0;
  }
  82% {
    opacity: .8;
  }
  83% {
    opacity: 0;
  }
  84% {
    opacity: .8;
  }
  85% {
    opacity: 0;
  }
  86% {
    opacity: .8;
  }
  87% {
    opacity: 0;
  }
  88% {
    opacity: .8;
  }
  89% {
    opacity: 0;
  }
  90% {
    opacity: .8;
    text-shadow: 0px 0px 50px white;
  }
  91% {
    opacity: 0;
  }
  95% {
    opacity: .8;
  }
  96% {
    opacity: 0;
  }
  97% {
    opacity: .9;
  }
  98% {
    opacity: 0;
  }
  96% {
    opacity: 1;
  }
  99% {
    opacity: 1;
    text-shadow: 0px 0px 0px white;
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 70px white;
  }
} */